<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AutomationSuite">
    <listeners>
        <listener class-name="RetryListener"/>
        <listener class-name="ScreenshotListener"/>
    </listeners>

    <test name="AllTests">
        <classes>
            <class name="FirstTest"/>
            <class name="AddToCartTest"/>
        </classes>
    </test>
</suite>